.container{
    display: flex;
   justify-content: center;
}
.card{
    margin-top: 8%;
    margin-right: 3%;
    background-color:rgba(255, 255, 0, 0) ;
    text-align: center;
    border: none;
}
.card img{
    height: 250px;
}
.card a{
    border: 2px solid black;
}

a.btn:focus{
    box-shadow: none;
   }
  .container-fluid .col-sm-6{
    align-self: center;
  }